@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background-color: rgb(50, 50, 50);
  margin: 0.5vw;
}

#view-pane {
  display: flex;
  margin-left: 2vw;
  padding-left: 3vw;
  background-color: rgba(30, 60, 110, 0.8);
  height: 60vh;
  width: 55vw;
}

#selector {
  position: relative;
  background-color: rgb(50, 50, 50);
  border-radius: 1.5vh;
  max-width: 15vh;
  height: 20vh;
  padding: 0.5vh;
}

#selector h2 {
  font: bold italic 1.5em "Open Sans", sans-serif;
}
.plotstyle {
  visibility: hidden;
}

#selector:hover .plotstyle {
 visibility: visible;
}

button {
  background-color: rgb(75, 75, 75);
  border-radius: 0.5vh;
  margin-left: 1vh;
  padding: 0.2vh;
}
