@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 50, 50, 50;
  --background-end-rgb: 200, 200, 200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 148, 102, 62;
    --background-end-rgb: 90, 95, 95;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

header {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: rgb(50, 50, 50);
}

nav {
  position: relative;
  top: 45%;
  margin: 1%;
  font: bold 2em "Open Sans", sans-serif;
  color: rgb(175, 175, 175);
}

#appName {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%);
  font: Italic bold 3em "Brush Script Std", cursive;
  color: rgb(102, 173, 109);
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  bottom: 0%;
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 5vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
