@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  position: absolute;
  display: flex;
  width: 100%;
  height: 85%;
  overflow: "hidden";
  justify-content: center;
  align-items: center;
}

.landing {
  position: absolute;
  background-image: url("/images/Cover4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  z-index: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.describe h1 {
  position: absolute;
  font: bold 3.2em sans-serif;
  top: 10vh;
  left: 5vh;
}

.describe h3 {
  position: absolute;
  font: bold 3em sans-serif;
  top: 20vh;
  transform: translate(-50%);
  left: 50vh;
  color: rgb(15, 155, 240);
}

.describe h4 {
  position: absolute;
  font: bold italic 2em sans-serif;
  top: 25vh;
  transform: translate(-50%);
  left: 50vh;
  color: rgb(165, 240, 15);
}

.describe h2 {
  position: absolute;
  font: bold italic 2.5em sans-serif;
  top: 40vh;
  transform: translate(-50%);
  left: 35vh;
  color: rgb(165, 240, 15);
  background-color: rgb(65, 65, 75);
  padding: 3vh;
  border-radius: 2vh;
}

.coverImage {
  position: absolute;
  padding: 4vh;
  margin: 0;
  right: 5vh;
  bottom: 15vh;
  background-color: rgb(70, 70, 70);
}

#input-section {
  position: absolute;
  display: table-row;
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 40vh;
  right: 0%;
}

.describe {
  z-index: 1;
}

button {
  background-color: rgb(75, 75, 75);
}
